{% extends "basePrivada.html.twig" %}
 
{% block title %} Detalle de carga de medidor {% endblock %}
{% block contenedor %}
  <div class="row fila-de-titulo">
    <div class=" col-lg-4"></div>
    <div class=" col-lg-4">
      <h3> Detalle de carga de medidor</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
      <div class="panel panel-primary ">
          <div class="panel-heading">
            <h3 class="panel-title">Numeros del informe</h3>
          </div>
          <div class="panel-body">
             <div class="row inf" >
                <h5> Total de registros leidos: {{totalRegistros}} </h5> 
              </div>
              <div class="row inf">
                <h5> Total de registros no insertados: {{totalFallados}} </h5> 
              </div>
              <div class="row inf ">
                <h5> Total de registros insertados: {{totalInsertados}}</h5>
             </div>
             <div class="row inf ">
                <h5> Total registros actualizados: {{totalActualizados}}</h5>
              </div>
             <div class="row inf">
                <h5> Informe generado: {{fecha}}</h5>
             </div>
          </div>
        </div>
  </div>
  </div>
  <div class="row">
    <div class="row fila-de-titulo">
      <div class=" col-lg-1"></div>
      <div class=" col-lg-10">
        <h4> Informe detallado de regsitros que no se pudieron cargar</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Estado</th>
          <th>Nro Usuario</th>
          <th>Nro Suministro</th>
          <th>Titular Medidor</th>
          <th>Importe</th>
          <th>Numero de fila</th>
        </tr>
      </thead>
      <tbody>
        {% for item in registros %}
            <tr>
              {% if item.esValido == 0 %}
              <td>
                {% autoescape 'html' %}
                   No se cargo el registro
                {% endautoescape %}
              </td>
              <td>
                {{item.numusuario}}
              </td>
              <td>
                {{item.numsuministros}}
              </td>
              <td>
                {{item.apeynom}}
              </td>
              <td>
                {{item.importe}}
              </td>
              <td>
                {{item.numerodefila}}
              </td>
              {% endif %} 
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="row fila-de-titulo">
      <div class=" col-lg-1"></div>
      <div class=" col-lg-10">
        <h4> Informe detallado de los registros actualizados</h4>
      </div>
    </div>
  </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in registrosActualizados %}
            <tr>
              
              <td>
                Actualizacion
              </td>
              <td>
                {{item.nomyape}}
              </td>
              <td>
               
              </td>
              <td>
                {{item.numusuario}}
              </td>
              <td>
                
              </td>
              <td>
                
              </td>
             
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
{% endblock %}