{% extends "basePrivada.html.twig" %}
 
{% block title %} Lista de Contactos {% endblock %}
{% block contenedor %}


<h3 id="tituloBloque">Listado de Abonados CE</h3>
<div class="clearfix"></div>
<div class="row fila-de-alerta">
  <div class=" col-lg-2"></div>
    <div class=" col-lg-8">
      {% if aviso == 1 %}
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Perfecto!</strong> El abonado fue eliminado correctamente.
        </div>
      {% elseif  aviso == 2 %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Error!</strong> No se pudo eliminar el abonado
          </div>
      {% endif %}
    </div>
  </div>

  <table class="table table-hover">
  <thead>
    <tr>
      <th>Numero Abonado</th>
      <th>Empresa</th>
      <th>Importe</th>
      <th>Fecha de ultimo pago</th>
      <th>Activo</th>
      <th>Controles</th>
    </tr>
  </thead>
  <tbody>
    {% for item in abonado %}
      <tr>
        <td>
          {% autoescape 'html' %}
            {{ item.numabonado|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
          {% endautoescape %}
        </td>
        <td>
          {% autoescape 'html' %}
            {% for em in empresas %}
              {% if em.idabonadoce == item.numabonado %}
                {{em.denominacion|convert_encoding(from='iso-2022-jp', to='UTF-8') }}
              {% endif %}
             {% endfor  %}       
          {% endautoescape %}
        </td>
        <td>
          {% autoescape 'html' %}
            {{item.importe}} {{item.documento|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
          {% endautoescape %}
        </td>
        <td>
          {% autoescape 'html' %}
            {{item.fechadeultimopago}} {{item.documento|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
          {% endautoescape %}
        </td>
        <td class="celda-numero">
          {% if item.activo == 1 %}
            Si   
          {% else %}
            No
          {% endif %}
        </td>
        <td class="controles">
          <!--Modificar abonado-->
          <form method="post" action="privado.php?c=abonado&a=modificar" id="modificarAbonado{{item.numabonado}}">
            <input type="hidden" value="{{item.numabonado}}" name="numabonado">
            <a href="javascript:{}" onclick="document.getElementById('modificarAbonado{{item.numabonado}}').submit(); return false;">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </a>
          </form>
             <!--Eliminar abonado-->
          <form method="post" action="privado.php?c=abonado&a=baja" id="bajaAbonado{{item.numabonado}}">
            <input type="hidden" value="{{item.numabonado}}" name="numabonado">
            <a href="javascript:{}" onclick="if(confirm('¿Está seguro que desea eliminar el contacto?')){document.getElementById('bajaAbonado{{item.numabonado}}').submit();}">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
          </form> 
          </td>
        </tr>
    {% endfor %}
  </tbody>
  </table>

{% endblock %}