{% extends "basePrivada.html.twig" %}
 
{% block title %} Lista de Empresas {% endblock %}
{% block contenedor %}  

<script>

$(document).ready(function() {
  /* Filtros */
     $("#dato").css("display", "none");
     $("#criterio").css("display", "none");
     $("#EnviarFiltro").css("display", "none");

     $('#datoCriterio').on('change',function(){
      var valor = $(this).val();
      if (valor != '0') {$("#EnviarFiltro").css("display", "inline-block");
                         $("#dato").css("display", "inline-block");}
      else {$("#EnviarFiltro").css("display", "none");
            $("#dato").css("display", "none");}
      //document.getElementById('datoTexto').value=valor;
   });
     //evaluarActivo(status);
});

  function getval(sel) {
       switch (sel.value) {
         case "Todos":
            location.reload();
            break;

         case "Num. Socio":
          $("#dato").css("display", "inline-block");
          $("#datoTexto").attr("placeholder", "Ej.: 00001");
          $("#criterio").css("display", "none");
          $("#EnviarFiltro").css("display", "inline-block");
          document.getElementById('tipoFiltro').value = 'nrosocio';
            break;

         case "Denominación":
          $("#dato").css("display", "inline-block");
          $("#datoTexto").attr("placeholder", "Ej.: Empresa");
          $("#criterio").css("display", "none");
          $("#EnviarFiltro").css("display", "inline-block");
          document.getElementById('tipoFiltro').value = 'denominacion';
            break;

         case "CUIT":
          $("#dato").css("display", "inline-block");
          $("#datoTexto").attr("placeholder", "Ej.: 20-27000111-6");
          $("#criterio").css("display", "none");
          $("#EnviarFiltro").css("display", "inline-block");
          document.getElementById('tipoFiltro').value = 'cuit';
            break;

         case "Rubro":
          $("#dato").css("display", "inline-block");
          $("#datoTexto").attr("placeholder", "Ej.: Rubro");
          $("#criterio").css("display", "none");
          $("#EnviarFiltro").css("display", "inline-block");
          document.getElementById('tipoFiltro').value = 'rubro';
            break;


         case "Categoría":
          $("#dato").css("display", "inline-block");
          $("#datoTexto").attr("placeholder", "Ej.: Categoría");
          $("#criterio").css("display", "none");
          $("#EnviarFiltro").css("display", "inline-block");
          document.getElementById('tipoFiltro').value = 'categoria';
            break;

          case "Importe":
          $("#dato").css("display", "none");
          $("#criterio").css("display", "inline-block");
          $("#datoTexto").attr("placeholder", "Ej.: 87");
          $("#EnviarFiltro").css("display", "none");
          document.getElementById('tipoFiltro').value = 'importe';
            break; 

          case "Cant. Empleados":
          $("#dato").css("display", "inline-block");
          $("#criterio").css("display", "none");
          $("#datoTexto").attr("placeholder", "Ej.: 10");
          $("#EnviarFiltro").css("display", "inline-block");
          document.getElementById('tipoFiltro').value = 'cantempleados';
            break;  

           
          
        }
    }

</script>


    <h3 id="tituloBloque">Listado de Empresas</h3>
    <div class="clearfix"></div>

   <div class="row fila-de-alerta">
      <div class=" col-lg-2"></div>
         <div class=" col-lg-8">
          {% if aviso == 1 %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Perfecto!</strong> la empresa fue eliminada correctamente.
              </div>
            {% elseif  aviso == 2 %}
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Error!</strong> No se pudo eliminar la empresa
              </div>
            {% endif %}
         </div>
  </div>
  <h5 id="referenciasRol">
    <span class="glyphicon glyphicon-tag" style="font-size:10px" aria-hidden="true"></span>
      Referencias
      <small>
        [<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>=Modificar Correos, <span class="glyphicon glyphicon-home" aria-hidden="true"></span>=Modificar domicilios,<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>=Modificar telefonos, <span class="glyphicon glyphicon-user" aria-hidden="true"></span>=Modificar contactos, <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>= Modificar datos generales de empresa]
      </small>
  </h5>
  {% if filtroActivo == 0 %}
      <form method="POST" action="privado.php?c=empresa&a=filtro" id="form_herramientas_empresa">
      <div id="herramientasTop" class="inline-block">
          <div class="accionActivoparent inline-block">

                <!--
                  <input type="hidden" name="datoActivo" id="datoActivo" value="{{statusActivo}}">
                -->
                <input type="hidden" name="tipoFiltro" id="tipoFiltro">

                <!--
                  <a href="#" onclick="cambiarActivo();document.getElementById('form_herramientas_usuario').submit();" class="left inline-block">
                  <span id="accionActivo" class="label label-default">Activos e Inactivos</span>
                </a>
                -->
          </div>
          <div id="filtroPor" class="inline-block">
              <span> 
                <b>Filtrar por:</b>
              </span>
                  <select class="form-control" onchange="getval(this);">
                    <option selected>Todos</option>
                    <option>Num. Socio</option>
                    <option>Denominación</option>
                    <option>CUIT</option>
                    <option>Rubro</option>
                    <option>Categoría</option>
                    <option>Importe</option>
                    <option>Cant. Empleados</option>
                  </select>
          </div>

              <div id="criterio" class="none">
                  <select name="datoCriterio" id="datoCriterio" class="form-control">
                      <option value="0" selected>Seleccione</option>
                      <option value="1">Mayor a</option>
                      <option value="2">Igual a</option>
                      <option value="3">Menor a</option>
                  </select>

              </div>

              <div id="dato">
                            <input id="datoTexto" class="form-control" pattern="[a-zA-Z0-9ñÑá-úÁ-Úä-üÄ-Ü ]+" type="text" name="dato">
              </div>
              <button id="EnviarFiltro" class="btn btn-default" onclick="document.getElementById('form_herramientas_empresa').submit();">Enviar</button>
        </div>
        </form>
    {% else %}
          <div class="alert alert-info col-lg-4 filtrandoresultados" role="alert">
            <span>Filtrando resultados para {{tipoFiltro}} <b>{{datoFiltro}}</b></span>
          </div>            
          <div class="col-lg-2">
            <a href="privado.php?c=empresa&a=listar" style="text-decoration:none" class="btn btn-default btn-block inline-block" target="_self">
              Quitar filtro
          </a>
        </div>
    {% endif %}
  <form class="form-horizontal" action="privado.php?c=correo&a=mostrar" role="form" method="POST" id="formBotonesTop">
          <div id="botonesTop" class="block right">
              <button type="submit" class="btn btn-default btn-block" id="bottonEnviarCorreo" name="irMail">Crear Correo</button>
              <form id="enviarPDF" class="inline-block" action="privado.php?c=empresas&a=pdf" method="POST">
                <input type="hidden" id="datosPDF" name="datosPDF" value="{{ empresas|json_encode() }}"/>
                {% if empresas is null %}
                {% else %}
                   <a href="#" onclick="document.getElementById('enviarPDF').submit();" style="text-decoration:none" class="btn btn-default btn-block inline-block">
                       Ver en PDF
                   </a>
                {% endif %}
              </form>              
          <a href="privado.php?c=empresa&a=alta" style="text-decoration:none" class="btn btn-default btn-block inline-block" target="_self">
            Nueva empresa
          </a>
        </div>


  <table class="table table-hover">
  <thead>
    <tr>
      <th>Nº Socio</th>
      <th>Denominacion</th>
      <th>CUIT</th>
      <th>Rubro</th>
      <th>Categoria</th>
      <th>Importe Mensual</th>
      <th>Cant. Empleados</th>
      <th>Activo</th>
      <th>Controles</th>
    </tr>
  </thead>
  <tbody>
    {% for item in empresas %}
     <input type="hidden" name="arrayIdempresa[]" value="{{item.idempresa}}" >
        <tr>
          <td>
           
            {% autoescape 'html' %}
              {{ item.nrosocio|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
            {% endautoescape %}
          </td>
  </form>
          <td>
            {% autoescape 'html' %}
              {{ item.denominacion|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
            {% endautoescape %}
          </td>
          <td>
            {% autoescape 'html' %}
              {{ item.cuit|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
            {% endautoescape %}
          </td>
          <td>
            {% autoescape 'html' %}
              {% for r in rubros %}
                {% if r.id == item.idrubro %}
                  {{r.descripcion|convert_encoding(from='iso-2022-jp', to='UTF-8') }}  
                {% endif %}
              {% endfor %}
            {% endautoescape %}
          </td>
          <td>
            {% autoescape 'html' %}
              {% for c in categorias %}
                {% if c.id == item.idcategoria %}
                  {{c.descripcion|convert_encoding(from='iso-2022-jp', to='UTF-8') }}  
                {% endif %}
              {% endfor %}
            {% endautoescape %}
          </td>
          <td>
            {% autoescape 'html' %}
              ${{ item.importemensual|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
            {% endautoescape %}
          </td>
          <td>
            {% autoescape 'html' %}
              {{ item.cantempleados|convert_encoding(from='iso-2022-jp', to='UTF-8') }}    
            {% endautoescape %}
          </td>
          <td> 
          {% if item.activo == 1 %}
            <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
          {% else %}
            <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
          {% endif %}
        </td>
          <td class="controles">
            {% if tienContribuyente == 2 %}
              <!-- nuevo abonado -->
              <form method="post" action="privado.php?c=abonado&a=alta&id={{item.idempresa}}" id="altaAbonado{{item.idempresa}}">
                  <input type="hidden" value="{{item.idempresa}}" name="cargarAbonado">
                  <a href="javascript:{}" onclick="document.getElementById('altaAbonado{{item.idempresa}}').submit(); return false;">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                  </a>
              </form>
              <!-- nuevo medidor -->
              <form method="post" action="privado.php?c=medidor&a=alta&id={{item.idempresa}}" id="altaMedidor{{item.idempresa}}">
                  <input type="hidden" value="{{item.idempresa}}" name="idempresa">
                  <a href="javascript:{}" onclick="document.getElementById('altaMedidor{{item.idempresa}}').submit(); return false;">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                  </a>
              </form>
            {% endif %}
            <!-- Ver empresa -->
            <form method="post" action="privado.php?c=empresa&a=detalle" id="verEmpresa{{item.idempresa}}">
                <input type="hidden" value="{{item.idempresa}}" name="id">
                <a href="javascript:{}" onclick="document.getElementById('verEmpresa{{item.idempresa}}').submit(); return false;">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
            </form>
             <!--Modificar correos-->
            <form method="post" action="privado.php?c=empresa&a=modificarCorreos" id="modificarCorreosEmpresa{{item.idempresa}}">
              <input type="hidden" value="{{item.idempresa}}" name="idempresa">
              <a href="javascript:{}" onclick="document.getElementById('modificarCorreosEmpresa{{item.idempresa}}').submit(); return false;">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              </a>
            </form>
            <!--Modificar domicilios-->
            <form method="post" action="privado.php?c=empresa&a=modificarDomicilios" id="modificarDomicilioEmpresa{{item.idempresa}}">
              <input type="hidden" value="{{item.idempresa}}" name="idempresa">
              <a href="javascript:{}" onclick="document.getElementById('modificarDomicilioEmpresa{{item.idempresa}}').submit(); return false;">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              </a>
            </form>
            <!--Modificar telefonos-->
            <form method="post" action="privado.php?c=empresa&a=modificarTelefonos" id="modificarTelefonoEmpresa{{item.idempresa}}">
              <input type="hidden" value="{{item.idempresa}}" name="idempresa">
              <a href="javascript:{}" onclick="document.getElementById('modificarTelefonoEmpresa{{item.idempresa}}').submit(); return false;">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
              </a>
            </form>
            <!--Modificar contactos-->
            <form method="post" action="privado.php?c=empresa&a=modificarContactos" id="modificarContactoEmpresa{{item.idempresa}}">
              <input type="hidden" value="{{item.idempresa}}" name="idempresa">
              <a href="javascript:{}" onclick="document.getElementById('modificarContactoEmpresa{{item.idempresa}}').submit(); return false;">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              </a>
            </form>
            <!--Modificar empresa-->
            <form method="post" action="privado.php?c=empresa&a=modificar" id="modificarEmpresa{{item.idempresa}}">
              <input type="hidden" value="{{item.idempresa}}" name="idempresa">
              <a href="javascript:{}" onclick="document.getElementById('modificarEmpresa{{item.idempresa}}').submit(); return false;">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </a>
            </form>
             <!--Eliminar empresa-->
            <form method="post" action="privado.php?c=empresa&a=baja" id="bajaEmpresa{{item.idempresa}}">
              <input type="hidden" value="{{item.idempresa}}" name="idempresa">
              <a href="javascript:{}" onclick="if(confirm('¿Está seguro que desea eliminar la empresa?')){document.getElementById('bajaEmpresa{{item.idempresa}}').submit();}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </a>
            </form> 
          </td>
        </tr>
    {% endfor %}
  </tbody>
  </table>
 

{% endblock %}