{% extends "basePrivada.html.twig" %}
 
{% block title %} Detalle de Empresa {% endblock %}
{% block contenedor %}

  <h3 id="tituloBloque">Detalle de empresa</h3>
  <div class="clearfix"></div>
  <div id="bloqueInfo" class="verEmpresa">
    <div id="detGenerales">
    	  <p><b>Nombre: </b> {{empresa.denominacion}} </p>
    	  <p><b>Rubro: </b>{{rubro.descripcion}}</p>
    	  <p><b>Detale actividad: </b> {{empresa.detactividad}} </p>
    	  <p><b>Cantidad de empleados: </b> {{empresa.cantempleados}} </p>
    	  <p><b>Categoría: </b>  {{categoria.descripcion}}</p>
    	  <p><b>Fecha de inicio C.E.: </b> {{empresa.fechainicioce | date('d/m/Y')}} </p>
    	  <p><b>Nro. Socio: </b> {{empresa.nrosocio}} </p>
    	  <p><b>Importe mensual: </b> ${{empresa.importemensual}} </p>
    	  <p><b>Fecha fundación: </b> {{empresa.fechafundacion | date('d/m/Y')}} </p>
    	  <p><b>CUIT: </b> {{empresa.cuit}} </p>
    	  <p><b>Web: </b> {{empresa.web}} </p>
    </div>
    <div id="detAdicionales">
          <div id="detContacto">
            	  <p><b>Contactos: </b>
                                {% for contacto in contactos %}
                                  <li class="contacto"> 
                                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                  		{{ contacto.getApellido|convert_encoding(from='iso-2022-jp', to='UTF-8') }}, 
                                  		{{ contacto.getNombre|convert_encoding(from='iso-2022-jp', to='UTF-8') }}
                                  </li>
                                {% endfor %}
                </p>
          </div>
            <div id="detTelefono">
                <p><b>Teléfonos: </b>
                				{% for itemtel in telefonos %}
                                <li class="telefono"> 
                                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                                		{{ itemtel.telefono |convert_encoding(from='iso-2022-jp', to='UTF-8') }}
                                		( {{ itemtel.descripcion |convert_encoding(from='iso-2022-jp', to='UTF-8') }} )
                                </li>
                              {% endfor %}      	
                </p>
            </div>
            <div id="detCorreo">
                <p><b>Correos: </b>
                        {% for itemcorreo in correos %}
                                <li class="correo"> 
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    {{ itemcorreo.correo |convert_encoding(from='iso-2022-jp', to='UTF-8') }}
                                    ( {{ itemcorreo.descripcion |convert_encoding(from='iso-2022-jp', to='UTF-8') }} )
                                </li>
                              {% endfor %}        
                </p>
            </div>
            <div id="detDomicilio">
                <p><b>Domicilios: </b>
                        {% for itemdomicilio in domicilios %}
                                <li class="domicilio"> 
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                    {{ itemdomicilio.domicilio |convert_encoding(from='iso-2022-jp', to='UTF-8') }}
                                    ( {{ itemdomicilio.descripcion |convert_encoding(from='iso-2022-jp', to='UTF-8') }} )
                                </li>
                              {% endfor %}        
                </p>
            </div>
      </div>
      <!-- ToDo: Detalles de Medidores
      <div id="detMedidores">
              <p><b>Medidores: </b>
                  <li class="domicilio"> 
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                    
                  </li>
      </div>
      -->
      <div id="botones">
              <a href="privado.php?c=empresa&a=listar">
                <button type="button" class="btn btn-default btn-lg btn-block col-lg-4" name="nuevoTelefono">
                  Volver al listado
                </button>
              </a>

      </div>
  </div>
  <div class="clearfix"></div>
{% endblock %}