{% extends "basePrivada.html.twig" %}
 
{% block title %} Detalle de Empresa {% endblock %}
{% block contenedor %}
<script>
function cambiarAction(accion){
  switch(accion){
    case 'detGenerales':
        $('#form').attr('action','privado.php?c=empresa&a=modificar');
        break;

    case 'detContacto':
        $('#form').attr('action','privado.php?c=empresa&a=modificarContactos');
        break;

    case 'detTelefono':
        $('#form').attr('action','privado.php?c=empresa&a=modificarTelefonos');
        break;

    case 'detDimicilio':
        $('#form').attr('action','privado.php?c=empresa&a=modificarDomicilios');
        break;

    case 'detCorreo':
        $('#form').attr('action','privado.php?c=empresa&a=modificarCorreos');
        break;
  }
  $('#form').submit();
}

</script>



  <h3 id="tituloBloque">Detalle de empresa</h3>
  <div class="clearfix"></div>
  <div id="bloqueInfo" class="verEmpresa">

  <form method="post" action="#" id="form">
  <input type="hidden" value="{{empresa.idempresa}}" name="idempresa">

    <div id="detGenerales">
        <span class="tituloBloqueDet"> <p><b> Detalles Generales </b>
            <a href="javascript:{}" onclick="cambiarAction('detGenerales');">
                <span id="editar" class="glyphicon glyphicon-pencil right editBlockDet" aria-hidden="true"></span>
            </a>
        </p>
         </span>
        <li class="generales">
        	  <p><b>Nombre: </b> {{empresa.denominacion}} </p>
        	  <p><b>Rubro: </b>{{rubro.descripcion}}</p>
        	  <p><b>Detale actividad: </b> {{empresa.detactividad}} </p>
        	  <p><b>Cantidad de empleados: </b> {{empresa.cantempleados}} </p>
        	  <p><b>Categoría: </b>  {{categoria.descripcion}}</p>
        	  <p><b>Fecha de inicio C.E.: </b> {{empresa.fechainicioce | date('d/m/Y')}} </p>
        	  <p><b>Nro. Socio: </b> {{empresa.nrosocio}} </p>
        	  <p><b>Importe mensual: </b> ${{empresa.importemensual}} </p>
        	  <p><b>Fecha fundación: </b> {{empresa.fechafundacion | date('d/m/Y')}} </p>
        	  <p><b>CUIT: </b> {{empresa.cuit}} </p>
        	  <p><b>Web: </b> {{empresa.web}} </p>
        </li>
    </div>
    <div id="detAdicionales">
          <div id="detContacto">
            	  <span class="tituloBloqueDet">
                  <p><b>Contactos: </b>
                      <a href="javascript:{}" onclick="cambiarAction('detContacto');">
                          <span id="editar" class="glyphicon glyphicon-pencil right editBlockDet" aria-hidden="true"></span>
                      </a>
                </span>
                                {% for contacto in contactos %}
                                  <li class="contacto"> 
                                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                  		{{ contacto.getApellido|convert_encoding(from='iso-2022-jp', to='UTF-8') }}, 
                                  		{{ contacto.getNombre|convert_encoding(from='iso-2022-jp', to='UTF-8') }}
                                  </li>
                                {% endfor %}
                </p>
          </div>
            <div id="detTelefono">
                <span class="tituloBloqueDet"><p><b>Teléfonos: </b></span>
                <a href="javascript:{}" onclick="cambiarAction('detTelefono');">
                    <span id="editar" class="glyphicon glyphicon-pencil right editBlockDet" aria-hidden="true"></span>
                </a>
                				{% for itemtel in telefonos %}
                                <li class="telefono"> 
                                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                                		{{ itemtel.telefono |convert_encoding(from='iso-2022-jp', to='UTF-8') }}
                                		( {{ itemtel.descripcion |convert_encoding(from='iso-2022-jp', to='UTF-8') }} )
                                </li>
                              {% endfor %}      	
                </p>
            </div>
            <div id="detCorreo">
                <span class="tituloBloqueDet"><p><b>Correos: </b></span>
                <a href="javascript:{}" onclick="cambiarAction('detCorreo');">
                    <span id="editar" class="glyphicon glyphicon-pencil right editBlockDet" aria-hidden="true"></span>
                </a>
                        {% for itemcorreo in correos %}
                                <li class="correo"> 
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    {{ itemcorreo.correo |convert_encoding(from='iso-2022-jp', to='UTF-8') }}
                                    ( {{ itemcorreo.descripcion |convert_encoding(from='iso-2022-jp', to='UTF-8') }} )
                                </li>
                              {% endfor %}        
                </p>
            </div>
            <div id="detDomicilio">
                <span class="tituloBloqueDet"><p><b>Domicilios: </b></span>
                <a href="javascript:{}" onclick="cambiarAction('detDomicilio');">
                    <span id="editar" class="glyphicon glyphicon-pencil right editBlockDet" aria-hidden="true"></span>
                </a>
                        {% for itemdomicilio in domicilios %}
                                <li class="domicilio"> 
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                    {{ itemdomicilio.domicilio |convert_encoding(from='iso-2022-jp', to='UTF-8') }}
                                    ( {{ itemdomicilio.descripcion |convert_encoding(from='iso-2022-jp', to='UTF-8') }} )
                                </li>
                              {% endfor %}        
                </p>
            </div>
      </div>
      <!-- ToDo: Detalles de Medidores
      <div id="detMedidores">
              <p><b>Medidores: </b>
                  <li class="domicilio"> 
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                    
                  </li>
      </div>
      -->
      <div class="clearfix"></div>
      <div id="detMedidor">
                <span class="tituloBloqueDet"><p><b>Medidor: </b></span>
                <a href="javascript:{}" onclick="cambiarAction('detMedidor');">
                    <span id="editar" class="glyphicon glyphicon-pencil right editBlockDet" aria-hidden="true"></span>
                </a>
                                {% for medidor in medidores %}
                                  <li class="medidor"> 
                                      <div class="left inline-block">
                                          <p><b>Nombre: </b>{{ medidor.nomyap|convert_encoding(from='iso-2022-jp', to='UTF-8') }}</p>
                                          
                                          <p><b>Num. Usuario: </b>{{ medidor.numusuario|convert_encoding(from='iso-2022-jp', to='UTF-8') }}</p>
                                          
                                          <p><b>Num. Suministro: </b>{{ medidor.numsuministro|convert_encoding(from='iso-2022-jp', to='UTF-8') }}</p>
                                      </div>
                                      <div class="right inline-block">
                                          <p><b>Teléfono: </b>{{ medidor.telefono|convert_encoding(from='iso-2022-jp', to='UTF-8') }}</p>

                                          <p><b>Domicilio: </b>{{ medidor.domicilio|convert_encoding(from='iso-2022-jp', to='UTF-8') }}</p>

                                          <p><b>Importe pago: </b>$ {{ medidor.importepago|convert_encoding(from='iso-2022-jp', to='UTF-8') }}</p>
                                      </div>
                                  </li>
                                {% endfor %}
                </p>
      </div>
      <div class="clearfix"></div>
      <div id="botones">
              <a href="privado.php?c=empresa&a=listar">
                <button type="button" class="btn btn-default btn-lg btn-block col-lg-4" name="volver">
                  Volver al listado
                </button>
              </a>

      </div>
  </div>
  <div class="clearfix"></div>
{% endblock %}