{% extends "basePrivada.html.twig" %}
 
{% block title %} Detalle de Empresa {% endblock %}
{% block contenedor %}

  <h3 id="tituloBloque">Detalle de empresa</h3>
  <div class="clearfix"></div>
  <div id="bloqueInfo">
	  <p><b>Nombre: </b> {{empresa.denominacion}} </p>
	  <p><b>Rubro: </b> {{empresa.idrubro}} </p>
	  <p><b>Detale actividad: </b> {{empresa.detactividad}} </p>
	  <p><b>Cantidad de empleados: </b> {{empresa.denominacion}} </p>
	  <p><b>Categoría: </b> {{empresa.idcategoria}} </p>
	  <p><b>Fecha de inicio C.E.: </b> {{empresa.fechainicioce}} </p>
	  <p><b>Nro. Socio: </b> {{empresa.nrosocio}} </p>
	  <p><b>Importe mensual: </b> {{empresa.importemensual}} </p>
	  <p><b>Fecha fundación: </b> {{empresa.fechafundacion}} </p>
	  <p><b>CUIT: </b> {{empresa.cuit}} </p>
	  <p><b>CUIT: </b> {{empresa.web}} </p>
	  <p><b>Activo: </b> {{empresa.activo}} </p>
	  <p><b>Contactos: </b><p>
	          {% for i in arrayUnario %}
	          	  {{i['idempresa']}}
                  {% if i['idempresa'] == empresa.idempresa %}
                    {% for contacto in i['contactos'] %}
                      <li> 
                        {% for cNom in contactos %}
                          {% if cNom.idcontacto == contacto.idcontacto %}
                            {{ cNom.apellido|convert_encoding(from='iso-2022-jp', to='UTF-8') }}
                          {% endif %}
                        {% endfor %}
                      </li>
                    {% endfor %}
                  {% endif %}  
              {% endfor %} 
  </div>
{% endblock %}