{% extends "basePrivada.html.twig" %}
 
{% block title %} Detalle de Asociado {% endblock %}
{% block contenedor %}
<script>
function cambiarAction(accion){
  switch(accion){
    case 'detGenerales':
        $('#form').attr('action','privado.php?c=empresa&a=modificar');
        break;

    case 'detContacto':
        $('#form').attr('action','privado.php?c=empresa&a=modificarContactos');
        break;

    case 'detTelefono':
        $('#form').attr('action','privado.php?c=empresa&a=modificarTelefonos');
        break;

    case 'detDomicilio':
        $('#form').attr('action','privado.php?c=empresa&a=modificarDomicilios');
        break;

    case 'detCorreo':
        $('#form').attr('action','privado.php?c=empresa&a=modificarCorreos');
        break;
  }
  $('#form').submit();
}

</script>



  <div class="row fila-de-titulo">
        <div class=" col-lg-4"></div>
         <div class=" col-lg-4">
          <h3> Detalle Asociado</h3>
         </div>
      </div>
  <div class="clearfix"></div>
  <div id="bloqueInfo" class="verEmpresa">

  <form method="post" action="#" id="form">
  <input type="hidden" value="{{empresa.idempresa}}" name="idempresa">

    <div id="detGenerales">
        <span class="tituloBloqueDet"> <p><b> Detalles Generales </b>
            <a href="javascript:{}" onclick="cambiarAction('detGenerales');">
                <span id="editar" class="glyphicon glyphicon-pencil right editBlockDet" aria-hidden="true"></span>
            </a>
        </p>
         </span>
        <li class="generales">
            <p><b>Nombre: </b> {{empresa.denominacion|raw}} </p>
            <p><b>Rubro: </b>{{rubro.descripcion|raw}}</p>
            <p><b>Detale actividad: </b> {{empresa.detactividad|raw}} </p>
            <p><b>Cantidad de empleados: </b> {{empresa.cantempleados|raw}} </p>
            <p><b>Categor&iacute;a: </b>  {{categoria.descripcion|raw}}</p>
            <p><b>Fecha de inicio C.E.: </b> {{empresa.fechainicioce | date('d/m/Y')}} </p>
            <p><b>Nro. Socio: </b> {{empresa.nrosocio|raw}} </p>
            <p><b>Importe mensual: </b> ${{empresa.importemensual|raw}} </p>
            <p><b>Fecha fundaci&oacute;n: </b> {{empresa.fechafundacion | date('d/m/Y')}} </p>
            <p><b>CUIT: </b> {{empresa.cuit|raw}} </p>
            <p><b>Web: </b> {{empresa.web|raw}} </p>
        </li>
    </div>
    <div id="detAdicionales">
          <div id="detContacto">
                <span class="tituloBloqueDet">
                  <p><b>Contactos: </b>
                      <a href="javascript:{}" onclick="cambiarAction('detContacto');">
                          <span id="editar" class="glyphicon glyphicon-pencil right editBlockDet" aria-hidden="true"></span>
                      </a>
                </span>
                        {% if contactos is null %}
                            <p class="noInfoDetalle">No se encontraron contactos asignados.</p>
                        {% else %}
                                {% for contacto in contactos %}
                                  <li class="contacto"> 
                                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                      {{ contacto.getApellido|raw }}, 
                                      {{ contacto.getNombre|raw }}
                                  </li>
                                {% endfor %}
                        {% endif %}
                </p>
          </div>
            <div id="detTelefono">
                <span class="tituloBloqueDet"><p><b>Tel&eacute;fonos: </b></span>
                <a href="javascript:{}" onclick="cambiarAction('detTelefono');">
                    <span id="editar" class="glyphicon glyphicon-pencil right editBlockDet" aria-hidden="true"></span>
                </a>
                    {% if telefonos != null %}
                        {% for itemtel in telefonos %}
                                <li class="telefono"> 
                                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                                    {{ itemtel.telefono|raw }}
                                    {% if itemtel.descripcion != null%}
                                        ( {{ itemtel.descripcion|raw }} )
                                    {% else %}
                                        
                                    {% endif %}
                                </li>
                              {% endfor %}
                    {% else %}                              
                        <p class="noInfoDetalle">No se encontraron telefonos asignados.</p>
                    {% endif %}        
                </p>
            </div>
            <div id="detCorreo">
                <span class="tituloBloqueDet"><p><b>Correos: </b></span>
                <a href="javascript:{}" onclick="cambiarAction('detCorreo');">
                    <span id="editar" class="glyphicon glyphicon-pencil right editBlockDet" aria-hidden="true"></span>
                </a>
                    {% if correos != null %}
                        {% for itemcorreo in correos %}
                                <li class="correo"> 
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    {{ itemcorreo.correo|raw }}

                                    {% if itemcorreo.descripcion != null%}
                                        ( {{ itemcorreo.descripcion|raw }} )
                                    {% else %}
                                          
                                    {% endif %}
                                </li>
                              {% endfor %}
                    {% else %}                              
                      <p class="noInfoDetalle">No se encontraron correos asignados.</p>
                    {% endif %}        
                </p>
            </div>
            <div id="detDomicilio">
                <span class="tituloBloqueDet"><p><b>Domicilios: </b></span>
                <a href="javascript:{}" onclick="cambiarAction('detDomicilio');">
                    <span id="editar" class="glyphicon glyphicon-pencil right editBlockDet" aria-hidden="true"></span>
                </a>
                    {% if domicilios != null %}
                        {% for itemdomicilio in domicilios %}
                                <li class="domicilio"> 
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                    {{ itemdomicilio.domicilio |raw }}
                                    {% if itemdomicilio.descripcion != null%}
                                        ( {{ itemdomicilio.descripcion|raw }} )
                                    {% else %}
                                        
                                    {% endif %}
                                </li>
                              {% endfor %}  
                    {% else %}
                        <p class="noInfoDetalle">No se encontraron domicilios asignados.</p>      
                    {% endif %}
                </p>
            </div>
      </div>
      <!-- ToDo: Detalles de Medidores
      <div id="detMedidores">
              <p><b>Medidores: </b>
                  <li class="domicilio"> 
                                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                    
                  </li>
      </div>
      -->
      <div class="clearfix"></div>

      {% if (medidores is null) and (abonados is null) %}
          <div id="detMedidorAbonadoVacio">
                    <span class="tituloBloqueDet"><p><b>Medidor/Abonado: </b></span>
                                      <li class="medidorAbonado"> 
                                                  <p><b> No tiene ningun medidor / abonado asociado </b></p>
                                      </li>
                    </p>
          </div>

      {% elseif abonados is null %}
            <div id="detMedidor">
                      <span class="tituloBloqueDet"><p><b>Medidor: </b></span>
                      <a href="javascript:{}" onclick="cambiarAction('detMedidor');">
                          <span id="editar" class="glyphicon glyphicon-pencil right editBlockDet" aria-hidden="true"></span>
                      </a>
                                      {% for medidor in medidores %}
                                        <li class="medidor"> 
                                            <div class="left inline-block">
                                                <p><b>Nombre: </b>{{ medidor.nomyap|raw }}</p>
                                                
                                                <p><b>Num. Usuario: </b>{{ medidor.numusuario|raw }}</p>
                                                
                                                <p><b>Num. Suministro: </b>{{ medidor.numsuministro|raw }}</p>
                                            </div>
                                            <div class="right inline-block">
                                                <p><b>Tel&eacute;fono: </b>{{ medidor.telefono|raw}}</p>

                                                <p><b>Domicilio: </b>{{ medidor.domicilio|raw }}</p>

                                                <p><b>Importe pago: </b>$ {{ medidor.importepago|raw }}</p>
                                            </div>
                                        </li>
                                      {% endfor %}
                      </p>
            </div>
    {% else %}
            <div id="detAbonado">
                      <span class="tituloBloqueDet"><p><b>Abonado: </b></span>
                      <a href="javascript:{}" onclick="cambiarAction('detMedidor');">
                          <span id="editar" class="glyphicon glyphicon-pencil right editBlockDet" aria-hidden="true"></span>
                      </a>
                                      {% for abonado in abonados %}
                                        <li class="abonado"> 
                                            <div class="left inline-block">
                                                <p><b>Importe: </b>{{ abonado.importe|raw }}</p>
                                                
                                                <p><b>Fecha ultimo pago: </b>{{ abonado.fechadeultimopago }}</p>
                                                
                                                <p><b>Num. Abonado: </b>{{ abonado.numabonado }}</p>
                                            </div>
                                        </li>
                                      {% endfor %}
                      </p>
            </div>
    {% endif %}

</form>
      <div class="clearfix"></div>
      <div id="botones">
              <form id="enviarPDF" class="inline-block" action="privado.php?c=empresa&a=pdf" method="POST">
                  <input type="hidden" value="{{empresa.idempresa}}" name="idempresa">
                  <input type="hidden" id="datosPDFrubro" name="datosPDFrubro" value="{{ rubro|json_encode() }}"/>
                  <input type="hidden" id="datosPDFcategoria" name="datosPDFcategoria" value="{{ categoria|json_encode() }}"/>
                  <input type="hidden" id="datosPDFcontactos" name="datosPDFcontactos" value="{{ contactos|json_encode() }}"/>
                  <input type="hidden" id="datosPDFmedidores" name="datosPDFmedidores" value="{{ medidores|json_encode() }}"/>
                  <input type="hidden" id="datosPDFtelefonos" name="datosPDFtelefonos" value="{{ telefonos|json_encode() }}"/>
                  <input type="hidden" id="datosPDFcorreos" name="datosPDFcorreos" value="{{ correos|json_encode() }}"/>
                  <input type="hidden" id="datosPDFdomicilios" name="datosPDFdomicilios" value="{{ domicilios|json_encode() }}"/>
                  <input type="hidden" id="datosPDFabonados" name="datosPDFabonados" value="{{ abonados|json_encode() }}"/>
              <button formtarget="_blank" class="btn btn-default btn-lg btn-block col-lg-4">
                  Ver en PDF
              </button>
              <a href="privado.php?c=empresa&a=listar&pagina=1">
                <button type="button" class="btn btn-default btn-lg btn-block col-lg-4" name="volver">
                  Volver al listado
                </button>
        </a>
              </form>
      </div>
  </div>
  <div class="clearfix"></div>
{% endblock %}