{% extends "basePrivada.html.twig" %}
 
{% block title %} Lista de Medidores {% endblock %}
{% block contenedor %}
<script>

$(document).ready(function() {
	/* Filtros */
     $("#dato").css("display", "none");
     $("#EnviarFiltro").css("display", "none");
});



	function getval(sel) {
       switch (sel.value) {
         case "Todos":
            location.reload();
            break;

         case "Nombre y/o Apellido":
         	$("#dato").css("display", "inline-block");
         	$("#datoTexto").attr("placeholder", "Ej.: Jorge Pérez");
         	$("#EnviarFiltro").css("display", "inline-block");
         	document.getElementById('tipoFiltro').value = 'nomyap';
            break;

         case "Telefono":
         	$("#dato").css("display", "inline-block");
         	$("#datoTexto").attr("placeholder", "Ej.: 2983401234");
         	$("#EnviarFiltro").css("display", "inline-block");
         	document.getElementById('tipoFiltro').value = 'telefono';
            break;

         case "Domicilio":
         	$("#dato").css("display", "inline-block");
         	$("#datoTexto").attr("placeholder", "Ej.: Azcuénaga 123");
         	$("#EnviarFiltro").css("display", "inline-block");
         	document.getElementById('tipoFiltro').value = 'domicilio';
            break;

         case "Empresa":
         	$("#dato").css("display", "inline-block");
         	$("#datoTexto").attr("placeholder", "Nombre de empresa");
         	$("#EnviarFiltro").css("display", "inline-block");
         	document.getElementById('tipoFiltro').value = 'empresa';
         	alert('Falta implementarlo!');
            break;

         case "Num. Usuario":
         	$("#dato").css("display", "inline-block");
         	$("#datoTexto").attr("placeholder", "Ej.: 000365");
         	$("#EnviarFiltro").css("display", "inline-block");
         	document.getElementById('tipoFiltro').value = 'numusuario';
            break;

         case "Num. Suministro":
         	$("#dato").css("display", "inline-block");
         	$("#datoTexto").attr("placeholder", "Ej.: 000365");
         	$("#EnviarFiltro").css("display", "inline-block");
         	document.getElementById('tipoFiltro').value = 'numsuministro';
            break;

          case "Sin empresa asignada":
          $("#dato").css("display", "none");
          $("#datoTexto").attr("placeholder", " ");
          $("#EnviarFiltro").css("display", "inline-block");
          document.getElementById('tipoFiltro').value = 'sinempresa';
            break;            

        }
    }

</script>


  <h3 id="tituloBloque">Listado de Medidores</h3>
  <div class="clearfix"></div>
  
  {% if eliminado == null %}
  
  {% elseif eliminado == 1 %}
   <div class="row fila-de-alerta">
      <div class=" col-lg-2"></div>
         <div class=" col-lg-8">
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Perfecto!</strong> El titular fue eliminado correctamente.
            </div>
        </div> 
      </div> 
    {% else %}
    <div class="row fila-de-alerta">
      <div class=" col-lg-2"></div>
         <div class=" col-lg-8">
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Error!</strong> El titular no pudo ser eliminado
            </div>
        </div> 
     </div> 
    {% endif %}

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
    {% if cantidadPaginas  > 0 %}
      <div class="bs-example" data-example-id="disabled-active-pagination">
        <nav>
          <ul class="pagination">
            <li class="">
              <a href="privado.php?c=medidor&a=listar&pagina={{ant}}" aria-label="Previous">
              <span aria-hidden="true">«</span></a>
            </li> 
            <li><a href="privado.php?c=medidor&a=listar&pagina=1">Primera</a></li>
              {% set pintar = actual %}
              {% for item in actual..cantMostrar %}
                {% if  item == pag %}
                 <li class="active"><a href="privado.php?c=medidor&a=listar&pagina={{item}}">{{item}}</a></li>
                {% else %}  
                <li class=""><a href="privado.php?c=medidor&a=listar&pagina={{item}}">{{item}}</a></li>
                {% endif %}
              {% endfor %}
            <li><a href="privado.php?c=medidor&a=listar&pagina={{cantidadPaginas}}">Ultima</a></li>
            <li>
              <a href="privado.php?c=medidor&a=listar&pagina={{sig}}" aria-label="Next">
              <span aria-hidden="true">»</span></a>
            </li>
         </ul>
       </nav>
      </div>
    {% endif %}
    <input type="hidden" value="{{paginaBaja}}" name="paginaBaja">
    </div>
  </div>
 
   
  {% if filtroActivo == 0 %}
  		<form method="POST" action="privado.php?c=medidor&a=filtro" id="form_herramientas_medidor">
  		<div id="herramientasTop" class="inline-block">
				  <div class="accionActivoparent inline-block">

				  			<!--
				  				<input type="hidden" name="datoActivo" id="datoActivo" value="{{statusActivo}}">
				  			-->
				  			<input type="hidden" name="tipoFiltro" id="tipoFiltro">

					  		<!--
					  			<a href="#" onclick="cambiarActivo();document.getElementById('form_herramientas_usuario').submit();" class="left inline-block">
					  			<span id="accionActivo" class="label label-default">Activos e Inactivos</span>
					  		</a>
					  		-->
				  </div>
				  <div id="filtroPor" class="inline-block">
				  		<span> 
				  			<b>Filtrar por:</b>
				  		</span>
				  		<form  method="POST" id="formFiltros" class="inline-block">
				  		<select class="form-control" onchange="getval(this);">
				  			<option selected>Todos</option>
				  			<option>Nombre y/o Apellido</option>
				  			<option>Telefono</option>
				  			<option>Domicilio</option>
				  			<option>Empresa</option> <!-- Falta implementar -->
				  			<option>Num. Usuario</option>
				  			<option>Num. Suministro</option>
                <option>Sin empresa asignada</option>
				  		</select>
				  		</form>
				  </div>
				  <div id="dato">
		                        <input id="datoTexto" class="form-control" pattern="[a-zA-Z0-9ñÑá-úÁ-Úä-üÄ-Ü ]+" type="text" name="dato">
		          </div>

		          <button id="EnviarFiltro" class="btn btn-default" onclick="document.getElementById('form_herramientas_medidor').submit();">Enviar</button>
        </div>
        </form>
        {% else %}
          {% if datoFiltro | length <= 10 %}
        	     <div class="alert alert-info col-lg-4 filtrandoresultados" role="alert">
          {% elseif datoFiltro | length > 10 and datoFiltro | length <=20 %}
               <div class="alert alert-info col-lg-5 filtrandoresultados" role="alert">
          {% elseif datoFiltro | length >20 %}
               <div class="alert alert-info col-lg-6 filtrandoresultados" role="alert">
          {% endif %}
            {% if tipoFiltro == 'sinempresa' %}
                {% set tipoFiltro = 'Medidores' %}
                {% set datoFiltro = ' sin empresa'%}
            {% elseif tipoFiltro == 'nomyap' %}
                {% set tipoFiltro = 'Nombre/Apellido' %}
            {% elseif tipoFiltro == 'numusuario' %}
                {% set tipoFiltro = 'número de usuario' %}
            {% elseif tipoFiltro == 'numsuministro' %}
                {% set tipoFiltro = 'número de suministro' %}
            {% endif %}
        		<span>Filtrando resultados para {{tipoFiltro}} <b>{{datoFiltro}}</b></span>
        	</div>        		
        	<div class="col-lg-2">
	        	<a href="privado.php?c=medidor&a=listar" style="text-decoration:none" class="btn btn-default btn-block inline-block" target="_self">
			  			Quitar filtro
			  	</a>
		  	</div>
        {% endif %}
          <div id="botonesTop" class="block right">
            <form id="enviarPDF" class="inline-block" action="privado.php?c=medidor&a=pdf" method="POST">
                <input type="hidden" id="datosPDF" name="datosPDF" value="{{ ListaMedidores|json_encode() }}"/>
            {% if ListaMedidores is null %}
            {% else %}
                <a href="#" onclick="document.getElementById('enviarPDF').submit();" style="text-decoration:none" class="btn btn-default btn-block inline-block">
              		Ver en PDF
            	</a>
            {% endif %}
          </form>
		  		
  		  </div>
        

  <table class="table table-hover">
  <thead>
    <tr>
      <th>Apellido y Nombre</th>
      <th>Teléfono</th>
      <th>Domicilio</th>
      <th>Empresas</th>
      <th>Imp. Pago</th>
      <th>Num. Usuario</th>
      <th>Num. Suministro</th>
      <th>Ultimo Pago</th>
      <th>Activo</th>
      <th>Controles</th>
    </tr>
  </thead>
  <tbody>
    {% if ListaMedidores is null %}
		<tr>
			<td colspan="8">
				No se encontraron titulares.
			</td>
		</tr>
	{% else %}
		{% for medidor in ListaMedidores %}
			<tr>
				<td> {{ medidor.nomyap }}</td>
				<td> 
					{% if medidor.telefono != null %}
						{{ medidor.telefono }}
					{% else %}
						N/A
					{% endif %}
				</td>
				<td> 
					{% if medidor.domicilio != null %}					
						{{ medidor.domicilio }}
					{% else %}
						N/A
					{% endif %}
				</td>
        {% set cargarElimianar = true %}
        <td>
           {% autoescape 'html' %}
            {% for em in relacion  %}
                {% if em.idmedidor == medidor.idmedidor %}
                   {% set cargarElimianar = false %}
                    <li>{{em.denominacion|convert_encoding(from='iso-2022-jp', to='UTF-8') }} </li>
                {% endif %}
              {% endfor %}  
          {% endautoescape %}
        </td>
				<td> <small>$</small> {{ medidor.importepago }}</td>
				<td> {{ medidor.numusuario }}</td>
				<td> {{ medidor.numsuministro }}</td>
        <td> {{ medidor.fechadeultimopago }}</td>
				<td> 
					{% if medidor.activo == 1 %}
						<span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
					{% else %}
						<span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
					{% endif %}
				</td>
				<td class="controles">
			   	<!--Modificar medidor-->
					<form method="post" action="privado.php?c=medidor&a=modificar" id="modificarMedidor{{medidor.idmedidor}}">
						<input type="hidden" value="{{medidor.idmedidor}}" name="idmedidor">
						<a href="javascript:{}" onclick="document.getElementById('modificarMedidor{{medidor.idmedidor}}').submit(); return false;">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</a>
					</form>
          {% if cargarElimianar == true %}
  				    <!--Eliminar medidor  -->
              {% if actual == 1 %}
                {% set paginaBaja = 1 %}
              {% endif %}
    					<form method="post" action="privado.php?c=medidor&a=eliminar&pagina={{paginaBaja}}" id="eliminaMedidor{{medidor.idmedidor}}">
                <input type="hidden" value="{{medidor.idmedidor}}" name="idmedidor">
    						<a href="javascript:{}" onclick="if(confirm('¿Está seguro que desea eliminar el titular?')){document.getElementById('eliminaMedidor{{medidor.idmedidor}}').submit();} return false;">
  							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  						</a>
  					 </form>
          {% endif %}
				</td>
			</tr>
		{% endfor %}
	{% endif %}
  </tbody>
  </table>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
    {% if cantidadPaginas  > 0 %}
      <div class="bs-example" data-example-id="disabled-active-pagination">
        <nav>
          <ul class="pagination">
            <li class="">
              <a href="privado.php?c=medidor&a=listar&pagina={{ant}}" aria-label="Previous">
              <span aria-hidden="true">«</span></a>
            </li> 
            <li><a href="privado.php?c=medidor&a=listar&pagina=1">Primera</a></li>
              {% for item in actual..cantMostrar %}
               {% if  item == pag %}
                 <li class="active"><a href="privado.php?c=medidor&a=listar&pagina={{item}}">{{item}}</a></li>
                {% else %}  
                <li class=""><a href="privado.php?c=medidor&a=listar&pagina={{item}}">{{item}}</a></li>
                {% endif %}
              {% endfor %}
            <li><a href="privado.php?c=medidor&a=listar&pagina={{cantidadPaginas}}">Ultima</a></li>
            <li>
              <a href="privado.php?c=medidor&a=listar&pagina={{sig}}" aria-label="Next">
              <span aria-hidden="true">»</span></a>
            </li>
         </ul>
       </nav>
      </div>
    {% endif %}
    <input type="hidden" value="{{paginaBaja}}" name="paginaBaja">
    </div>
  </div>
{% endblock %}

      
