{% extends "basePrivada.html.twig" %}
 
{% block title %} Lista de Medidores {% endblock %}
{% block contenedor %}
<script>

$(document).ready(function() {
	/* Filtros */
     $("#dato").css("display", "none");
     $("#EnviarFiltro").css("display", "none");
});



	function getval(sel) {
       switch (sel.value) {
         case "Todos":
            location.reload();
            break;

         case "Nombre y/o Apellido":
         	$("#dato").css("display", "inline-block");
         	$("#datoTexto").attr("placeholder", "Ej.: Jorge Pérez");
         	$("#EnviarFiltro").css("display", "inline-block");
         	document.getElementById('tipoFiltro').value = 'nomyap';
            break;

         case "Telefono":
         	$("#dato").css("display", "inline-block");
         	$("#datoTexto").attr("placeholder", "Ej.: 2983401234");
         	$("#EnviarFiltro").css("display", "inline-block");
         	document.getElementById('tipoFiltro').value = 'telefono';
            break;

         case "Domicilio":
         	$("#dato").css("display", "inline-block");
         	$("#datoTexto").attr("placeholder", "Ej.: Azcuénaga 123");
         	$("#EnviarFiltro").css("display", "inline-block");
         	document.getElementById('tipoFiltro').value = 'domicilio';
            break;

         case "Empresa":
         	$("#dato").css("display", "inline-block");
         	$("#datoTexto").attr("placeholder", "Nombre de empresa");
         	$("#EnviarFiltro").css("display", "inline-block");
         	document.getElementById('tipoFiltro').value = 'empresa';
         	alert('Falta implementarlo!');
            break;

         case "Num. Usuario":
         	$("#dato").css("display", "inline-block");
         	$("#datoTexto").attr("placeholder", "Ej.: 000365");
         	$("#EnviarFiltro").css("display", "inline-block");
         	document.getElementById('tipoFiltro').value = 'numusuario';
            break;

         case "Num. Suministro":
         	$("#dato").css("display", "inline-block");
         	$("#datoTexto").attr("placeholder", "Ej.: 000365");
         	$("#EnviarFiltro").css("display", "inline-block");
         	document.getElementById('tipoFiltro').value = 'numsuministro';
            break;
        }
    }

</script>


  <h3 id="tituloBloque">Listado de Medidores</h3>
  <div class="clearfix"></div>
  {% if eliminado == null %}
  {% elseif eliminado == 1 %}
  	<div class="alert alert-success" role="alert">El titular fue eliminado correctamente</div>
  {% else %}
  	<div class="alert alert-success" role="alert">El titular no pudo ser eliminado</div>
  {% endif %}

  {% if filtroActivo == 0 %}
  		<form method="POST" action="privado.php?c=medidor&a=listar" id="form_herramientas_medidor">
  		<div id="herramientasTop" class="inline-block">
				  <div class="accionActivoparent inline-block">

				  			<!--
				  				<input type="hidden" name="datoActivo" id="datoActivo" value="{{statusActivo}}">
				  			-->
				  			<input type="hidden" name="tipoFiltro" id="tipoFiltro">

					  		<!--
					  			<a href="#" onclick="cambiarActivo();document.getElementById('form_herramientas_usuario').submit();" class="left inline-block">
					  			<span id="accionActivo" class="label label-default">Activos e Inactivos</span>
					  		</a>
					  		-->
				  </div>
				  <div id="filtroPor" class="inline-block">
				  		<span> 
				  			<b>Filtrar por:</b>
				  		</span>
				  		<form  method="POST" id="formFiltros" class="inline-block">
				  		<select class="form-control" onchange="getval(this);">
				  			<option selected>Todos</option>
				  			<option>Nombre y/o Apellido</option>
				  			<option>Telefono</option>
				  			<option>Domicilio</option>
				  			<option>Empresa</option> <!-- Falta implementar -->
				  			<option>Num. Usuario</option>
				  			<option>Num. Suministro</option>
				  		</select>
				  		</form>
				  </div>
				  <div id="dato">
		                        <input id="datoTexto" class="form-control" pattern="[a-zA-Z0-9ñÑá-úÁ-Úä-üÄ-Ü ]+" type="text" name="dato">
		          </div>

		          <button id="EnviarFiltro" class="btn btn-default" onclick="document.getElementById('form_herramientas_medidor').submit();">Enviar</button>
        </div>
        </form>
        {% else %}
        	<div class="alert alert-info col-lg-4 filtrandoresultados" role="alert">
        		<span>Filtrando resultados para {{tipoFiltxro}} <b>{{datoFiltro}}</b></span>
        	</div>        		
        	<div class="col-lg-2">
	        	<a href="privado.php?c=medidor&a=listar" style="text-decoration:none" class="btn btn-default btn-block inline-block" target="_self">
			  			Quitar filtro
			  	</a>
		  	</div>
        {% endif %}
          <div id="botonesTop" class="block right">
            <form id="enviarPDF" class="inline-block" action="privado.php?c=medidor&a=pdf" method="POST">
                <input type="hidden" id="datosPDF" name="datosPDF" value="{{ ListaMedidores|json_encode() }}"/>
            {% if ListaMedidores is null %}
            {% else %}
                <a href="#" onclick="document.getElementById('enviarPDF').submit();" style="text-decoration:none" class="btn btn-default btn-block inline-block">
              		Ver en PDF
            	</a>
            {% endif %}
          </form>
		  		<a href="privado.php?c=medidor&a=alta" style="text-decoration:none" class="btn btn-default btn-block inline-block" target="_self">
		  			Nuevo titular
		  		</a>
  		  </div>

  <table class="table table-hover">
  <thead>
    <tr>
      <th>Apellido y Nombre</th>
      <th>Teléfono</th>
      <th>Domicilio</th>
      <th>Imp. Pago</th>
      <th>Num. Usuario</th>
      <th>Num. Suministro</th>
      <th>Activo</th>
      <th>Controles</th>
    </tr>
  </thead>
  <tbody>
    {% if ListaMedidores is null %}
		<tr>
			<td colspan="8">
				No se encontraron titulares.
			</td>
		</tr>
	{% else %}
		{% for medidor in ListaMedidores %}
			<tr>
				<td> {{ medidor.nomyap }}</td>
				<td> 
					{% if medidor.telefono != null %}
						{{ medidor.telefono }}
					{% else %}
						N/A
					{% endif %}
				</td>
				<td> 
					{% if medidor.domicilio != null %}					
						{{ medidor.domicilio }}
					{% else %}
						N/A
					{% endif %}
				</td>
				<td> <small>$</small> {{ medidor.importepago }}</td>
				<td> {{ medidor.numusuario }}</td>
				<td> {{ medidor.numsuministro }}</td>
				<td> 
					{% if medidor.activo == 1 %}
						<span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
					{% else %}
						<span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
					{% endif %}
				</td>
				<td class="controles">
				<!--Modificar medidor-->
					<form method="post" action="privado.php?c=medidor&a=modificar" id="modificarMedidor{{medidor.idmedidor}}">
						<input type="hidden" value="{{medidor.idmedidor}}" name="idmedidor">
						<a href="javascript:{}" onclick="document.getElementById('modificarMedidor{{medidor.idmedidor}}').submit(); return false;">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</a>
					</form>
				<!--Eliminar medidor  -->
					<form method="post" action="privado.php?c=medidor&a=eliminar&id={{medidor.idmedidor}}" id="eliminaMedidor{{medidor.idmedidor}}">
						<a href="javascript:{}" onclick="if(confirm('¿Está seguro que desea eliminar el titular?')){document.getElementById('eliminaMedidor{{medidor.idmedidor}}').submit();} return false;">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</a>
					</form>
				</td>
			</tr>
		{% endfor %}
	{% endif %}
  </tbody>
  </table>
{% endblock %}